body {
    font-family: Arial;
    background: #f4f6f8;
    text-align: center;
}

table {
    margin: auto;
    border-collapse: collapse;
    width: 70%;
}

th, td {
    border: 1px solid #333;
    padding: 10px;
}

button {
    padding: 12px 20px;
    font-size: 16px;
    margin-bottom: 20px;
}



