<!DOCTYPE html>
<html>
<head>
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body class="bg-gradient">

<div class="navbar">
    <h2>Admin Dashboard</h2>
    <a href="/">Logout</a>
</div>

<div class="glass-card table-card">
    <h3>Attendance Records</h3>

    <table>
        <tr>
            <th>Name</th>
            <th>Roll No</th>
            <th>Class</th>
            <th>Date</th>
            <th>Time</th>
            <th>Status</th>
        </tr>

        {% for r in records %}
        <tr>
            <td>{{ r[0] }}</td>
            <td>{{ r[1] }}</td>
            <td>{{ r[2] }}</td>
            <td>{{ r[3] }}</td>
            <td>{{ r[4] }}</td>
            <td class="present">{{ r[5] }}</td>
        </tr>
        {% endfor %}
    </table>
</div>

</body>
</html>